# test files
test.py

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.pytest_cache/

# Sphinx documentation
docs/_build/

# Environments
.venv

# Vscode
.vscode/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/
