[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.23.0"
PyYAML = "==5.3"
urllib3 = "==1.25.8"

[dev-packages]
black = "*"
pytest = "*"
pytest-runner = "*"
mypy = "*"
pep8 = "*"
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
pre-commit = "*"
twine = "*"

[requires]
python_version = "3.7"
