[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.23.0"
urllib3 = "==1.25.8"

[dev-packages]
black = "==19.10b0"
flake8 = "==3.7.9"
flake8-bandit = "==2.1.2"
flake8-bugbear = "==20.1.4"
flake8-import-order = "==0.18.1"
flake8-builtins = "==1.5.2"
flake8-docstrings = "==1.5.0"
flake8-logging-format = "==0.6.0"
flake8-print = "==3.1.4"
mypy = "==0.770"
pre-commit = "==2.2.0"
pytest = "==5.4.1"
pytest-cov = "==2.8.1"
pytest-runner = "==5.2"
tox = "==3.14.6"
twine = "==3.1.1"

[requires]
python_version = "3.7"
